@page "/"
@page "/chat"
@using Microsoft.Extensions.AI

<PageTitle>Home</PageTitle>
<ChatMessageWrapper>
    @foreach (var message in history)
    {
        if (message.Role == ChatRole.Assistant)
        {
            @foreach (var content in message.Contents)
            {
                if (content is TextContent textContent)
                {
                    <AssistantMessage>
                        <MarkdownText Text="@message.Text" />
                    </AssistantMessage>
                }
            }
        }
        if (message.Role == ChatRole.User)
        {
            @foreach (var content in message.Contents)
            {
                if (content is TextContent textContent)
                {
                    <UserMessage>
                        <p>@message.Text</p>
                    </UserMessage>
                }
                if (content is DataContent dataContent)
                {
                    <UserMessage>
                        <img src="data:@dataContent.MediaType;base64,@dataContent.Base64Data" alt="image"/>
                    </UserMessage>
                }
            }
        }
    }
    <LoadingIndicator IsLoading="@isLoading" StreamingText="" />
</ChatMessageWrapper>
<ChatInput OnSendMessage="HandleSendMessage" 
    IsLoading="@isLoading" OnFileAttachment="GetFileData" />

@code {

    bool isLoading = false;
    private IChatClient ai;
    List<ChatMessage> history = [];

    public Chat(IChatClient client)
    {
        ai = client;
    }

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        // Initialize the chat client or any other necessary services
        ChatMessage systemMessage = new ChatMessage(
            ChatRole.System, 
            "You are a helpful assistant.");
   
        history.Add(systemMessage);
        ChatResponse response = await ai.GetResponseAsync(systemMessage);
        history.AddMessages(response);
        isLoading = false;
    }

    private async Task HandleSendMessage(string message)
    {
        isLoading = true;
        // Logic to handle the sent message
        ChatMessage userMessage = new ChatMessage(ChatRole.User, message);
        history.Add(userMessage);
        ChatResponse chatResponse = await ai.GetResponseAsync(history);
        history.AddMessages(chatResponse);
        isLoading = false;
    }

    private void HandleSendImage(byte[] imageBytes, string mediaType)
    {
        ChatMessage imageMessage = new ChatMessage() { Role = ChatRole.User };
        DataContent dataContent = new DataContent(imageBytes, mediaType);
        imageMessage.Contents.Add(dataContent);
        history.Add(imageMessage);
    }

    private async Task GetFileData(InputFileChangeEventArgs e)
    {
        isLoading = true;

        if (e is null) return;
        // Fully flush out the uploaded file Stream into a MemoryStream then copy into the byte[]
        var file = e.File;
        var fileContent = new StreamContent(file.OpenReadStream());

        using var ms = new MemoryStream();

        byte[]? imgBytes = null;
        await fileContent.CopyToAsync(ms);
        imgBytes = ms.ToArray();

        HandleSendImage(imgBytes, file.ContentType);
        isLoading = false;
    }
}